// ==============================
//   STYLES - Page About
//   Fichier : _about.scss
// ==============================

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 100px;
        margin: 0 auto;
   

         @media (max-width: $breakpoint-tablet) {
            padding: 0;
        }
    }
}
