// ==============================
//   STYLES - Page A Propos
//   Fichier : _about.scss
// ==============================

.about_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}