// ==============================
//   STYLES - Composant FOOTER
//   Fichier : _footer.scss
// ==============================


.footer {
  background-color: black;
  padding: 40px 0;
  text-align: center;
  color: $text-light;

  &__logo {
    max-width: 122px;
    max-height: 39.44px;
    margin-bottom: 20px;
    
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 143%;
  }
  @media (max-width: 768px) {
  &__text {   
    font-size: 12px;
    font-weight: 500;
  }
}
}