.footer {
  background-color: black;
  padding: 40px 0;
  text-align: center;
  color: $text-secondary-color;

  &__logo {
    max-width: 122px;
    max-height: 39.44px;
    margin-bottom: 20px;
    
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 143%;
  }
}