// ==============================
//   STYLES - Composant HEADER
//   Fichier : _header.scss
// ==============================

.header {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 210.32px;
    max-height: 68px;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }

  &__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;    
    color: $text-default;
    

    &--active {
      text-decoration: underline;      
    }
  }

  @media (max-width: 768px) {
  &__link {
    font-size: 12px;
    font-weight: 500;
    }
  }
 }