.logement {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__infos {
    flex: 1;
  }

  &__title {
    color: $primary-color;
    font-size: 36px;
    font-weight: 500;
  }

  &__location {
    margin-top: 5px;
    color: $text-default;
    font-size: 18px;
    font-weight: 500;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;    
  }

  &__tag {
    background-color: $primary-color;    
    padding: 5px 15px;
    border-radius: 10px;    
    font-size: 14px;
    font-weight: 700;
    color: $text-light;
     list-style: none;
  }

  &__host {
    display: flex;
    align-items: center;
  }

  &__host-name {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
  }

  &__host-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__collapses {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    & > div {
      flex: 1;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}