// ==============================
//   STYLES - Page NOTFOUND
//   Fichier : _notfound.scss
// ==============================

 .not-found {
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;  

  &__title {
    font-size: 288px;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 7rem;
    margin-top: 5rem;
  }

  &__text {
    font-size: 36px;
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 8rem;
  }

  a {
    display: inline-block;
    margin-top: 2rem;
    font-size: 18px;
    color: $text-default;
    text-decoration: underline;
  }
}
