// ==============================
//   STYLES - Composant Rating
//   Fichier : _rating.scss
// ==============================

.rating {
    display: flex;
    gap: 5px;

    &__star {
        font-size: 24px;
        color:$star-color-default;

        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 16px;
        }

        &--filled {
            color: $star-color-filled;
        }
    }
}
