// ==============================
//   STYLES - VARIABLES
//   Fichier : _variables.scss
// ==============================

$primary-color: #FF6060;      // Rouge Kasa

$background-white: #FFFFFF;  // Fond blanc
$background-light: #F6F6F6;   // Fond gris clair
$background-dark: #000000;    // Fond noir footer


$text-default: #000000;       // Texte principal, nav
$text-light: #FFFFFF;         // Texte clair (h3, h4, footer)


$font-family-base: 'Montserrat', sans-serif;


// Largeurs de conteneur
$container-desktop: 1440px;
$container-mobile: 375px;

// Breakpoints
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-small: 375px;