// Variables
$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$text-color: #484848;

// Reset de base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}